.ant-drawer .ant-drawer-header {
    padding: 20px 15px !important;
}

.drawer-title {
    font-size: 20px !important;

}

.ant-drawer-body {
    padding: 8px 0px 15px 0px !important;
}

.custom-border-top {
    border-top-width: 2px !important;
    border-top-color: black !important;
}

.summery-card {
    position: sticky;
    bottom: 0;
    z-index: 1;
}