//colors
$primary: #ff4000;
$primary2: #f7f7f7;
$backround: #ffffff;
$grey1: #262941;
$grey2: #888c99;
$grey3: #eff1f5;
$grey4: #9a9eaa;
$grey5: #d9d9d9;
$grey6: #d1d1d1;
$grey7: #888888;
$grey8: #e2e2e9;
$grey9: #949191;
$green: #003f4a;
//font
$Regular: "DMSans-Regular";
$Medium: "DMSans-Medium";
$SemiBold: "DMSans-SemiBold";
$Bold: "DMSans-Bold";
$Light: "DMSans-Thin";

//side bar  old theme

// $sidebar_menu_color: #f0e9ed;
// $sidebar_menu_hover: #f0efef;

//side bar  new theme

$sidebar_menu_bg-color: #f0e9ed;
$sidebar_menu_text-color: #f0efef;
$sidebar_menu_text-color_hover:  #ff4000
