.contact-container {
  padding: 60px 15px;
}

.contact-title {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  color: #333;
  margin-bottom: 30px;
}

.contact-row {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 50px; // Increased space between map and form
}

.map-container {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.contact-details {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out;

  a, span {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #333;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  }
}

.form-container {
  padding: 30px;
  background: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.submit-btn {
  width: 100%;
  background: linear-gradient(to right, #007bff, #00c6ff);
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 12px;
}
