@use "../../config/styleVariable.scss" as global;

.ProductItem {
  background-color: #3d3838;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 124px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 10px;
  position: relative;

  .hover-sidebar {
    position: absolute;
    top: 10px;
    transition: right 0.3s ease;
    right: -40px; // Start off-screen
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 10;
    
    button {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      // border-radius: 50%;
      // background-color: white;
      color: global.$primary;
      // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
      cursor: pointer;
      border: none;
      transition: all 0.3s;
      
      // &:hover {
      //   background-color: #ff4d4f;
      //   color: white;
      // }
      
      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
  
  &:hover {
    .hover-sidebar {
      right: 8px; // Slide in on hover
    }
  }
  // overflow: hidden; 

  // &:hover {
  //   // cursor: pointer;
  //   // box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.1);
  // }

  background-color: rgb(253, 253, 253);
  border: 0.5px solid rgb(225, 225, 225);
}

.ProductItem-img {
  object-fit: fill;
  width: 100%;
  // height: 100%;
  transition: scale 100ms;
  background-color: white;
  cursor: pointer;

  // &:hover {
  //   scale: 1.05;
  // }
}

.cartBtn{

  border-color: global.$primary !important;
  color: global.$primary !important;
  transition: .5s !important;
}
.cartBtn:hover{

  border-color: global.$grey2 !important;
  color: global.$grey2 !important;
}

.incDecBtn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: flex-end;
}

.ProductItem-Box2 {
  // padding: 10px;

  @media screen and (min-width: 320px) and (max-width: 768px) {
    padding: 8px;
  }
}

.ProductItem-txt1 {
  font-family: global.$Medium;
  text-transform: capitalize;
  font-size: 15px;
  white-space: wrap;
  cursor: pointer;
  transition: .5s;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    font-size: 14px;
  }

  &:hover {
    color: global.$grey2;
    
  }
}

.ProductItem-txt2 {
  font-family: global.$Regular;
  font-size: 13px;
  color: rgb(92, 92, 92);
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;

  @media screen and (min-width: 320px) and (max-width: 768px) {
    font-size: 12px;
  }
}

.ProductItem-txt3 {
  font-size: 15px;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  margin-top: 10px;
  color: global.$primary;

  @media (max-width: 762px) {
    font-size: 16px;
  }
}

.ProductItem-txt5 {
  font-size: 13px;
  color: global.$green;

  &:hover {
    color: global.$primary;
  }
}

.product_status_tag {
  font-size: 12px;
  font-family: global.$SemiBold;
  display: flex;
  color: rgb(31, 31, 31);
  inset: 0 auto auto 0;

  & .badge2 {
    $backgroundColor: rgb(203, 203, 203);
    padding-block: 2px;
    padding-left: 6px;
    padding-right: 3px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-left: 0px solid transparent;
      border-right: 10px solid transparent;
      top: 0;
      right: -10px;
    }

    &.orange {
      background-color: rgb(255, 221, 159);

      &::after {
        border-top: 22px solid rgb(255, 221, 159);
      }
    }

    &.blue {
      background-color: rgb(154, 221, 255);

      &::after {
        border-top: 22px solid rgb(154, 221, 255);
      }
    }

    &.red {
      background-color: rgb(255, 128, 128);

      &::after {
        border-top: 22px solid rgb(255, 128, 128);
      }
    }

    &.grey {
      background-color: rgb(203, 203, 203);

      &::after {
        border-top: 22px solid rgb(203, 203, 203);
      }
    }
  }
}




